.Year-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
    background-color: whitesmoke;
}

@keyframes moveInLeft{
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }

    100% {
       opacity: 1;
       transform: translate(0);
    }
}

.found{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    animation-name: moveInLeft;
    animation-duration: 5s;
}


.yearsing{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    animation-name: moveInRight;
    animation-duration: 5s;
}



@media all and (max-width: 750px){
   .found{
     font-size: 10px;
   }

   .years{
    font-size: 10px;
   }
}