.Navbar-container{
    display: flex;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    padding-top: 0%;
    /* position: fixed; */
    background-color: rgba(0, 0, 139, 0.911);
}

.navbar-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}

.navbe-img{
    height: 100px;
    width: 0px;
    display: flex;
    padding-left: 20px;
    margin: 0px;
    flex-direction: row;
}

.navbe-img img{
    height: 100px;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
}

.appgenius{
    height: 0;
    margin-top: 40px;
    margin-right: -2px;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(252, 212, 152);
}

.Navbar-lists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-link{
    margin-top: 10px;
}

.list-link ul, li, .link{
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    color: white;
    margin: 10px 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: sans-serif;
}

.link{
    color: white; 
     text-decoration: none;
}


.avater-img{
    height: 0;
    width: 0;
    margin-top: 25px;
    margin-right: 80px;
}

.avater-img img{
    height: 50px;
    cursor: pointer;
}



@media all and (max-width: 750px){
   
.navbe-img{
    height: 100px;
    width: 0px;
    display: flex;
    padding-left: 10px;
    margin: 0px;
    flex-direction: row;
}


    .navbe-img img{
        height: 70px;
        margin-top: 15px;
        padding: 5px;
        cursor: pointer;
    }

    .appgenius{
        height: 0;
        margin-top: 40px;
        margin-right: -2px;
        font-size: 10px;
        font-weight: bolder;
        cursor: pointer;
        color: rgb(252, 212, 152);
    }

   .navbe-img{
     display: flex;
     flex-wrap: wrap;
     display: block;
     flex-direction: row;
   }

   .Navbar-lists{
     margin-left: 90px;
     z-index: 50;
   }

   .list-link{
     margin-top: 0px;
     margin-left: 50px;
     z-index: 50;
   }

   .list-link ul, li, .link{
    display: flex;
    z-index: 50;
    flex-direction: column;
    background-color: aquamarine;
}

.avater-img{
    height: 0;
    width: 0;
    /* position: fixed; */
    margin-top: 30px;
    margin-right: 50px;
}

.avater-img img{
   height: 40px;
}



}