.section-img{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    background-image: url(../../assert/slite.webp);
    background-size: cover;
}


@media all and (max-width: 750px){
    .section-img{
        height: 200px;
        background-image: url(../../assert/slite.webp);
        background-size: cover;
    }
}