.Footer-container{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
}

.Footer-lists{
    display: flex;
    margin: 42px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.parent{
    padding: 5px;
}

.h-one{
    font-size: 15px;
    color: black;
    font-weight: 200;
    font-family: serif;
    padding-left: 0px;
    cursor: pointer;
    
}

 .parent .child{
    font-size: 15px;
    font-weight: 200;
    font-family: serif;
    color: rgba(0, 0, 0, 0.67);
    cursor: pointer;
}

@media all and (max-width: 750px){
    .Footer-container{
        padding: 10px;
    }

    .Footer-lists{
        display: flex;
        margin: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .parent .child{
        font-size: 10px;
    }

    .h-one{
        margin-left: -5px;
    }

}