.mission-container{
    background-color: whitesmoke;
}


.visions-h1{
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
    padding-left: 41%;
    color: rgba(0, 0, 0, 0.64);
    cursor: pointer;
}

.mission-cards{
   display: flex;
   flex-wrap: wrap;
   padding: 15px;
   margin-left: 20px;
   flex-direction: row;
}


.mission-card{
    width: 300px;
    height: 300px;
    margin: 1rem;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid white;
    background-color: white;
}


.h1-images{
   background-color: whitesmoke;
}

.h1-images h1{
    font-size: 15px;
    padding-left: 0px;
    font-weight: bold;
    font-family: serif;
    color: rgba(0, 0, 0, 0.64);
}

.courage-img{
    width: 100px;
}

.mission-p{
    font-size: 11px;
    padding-top: 10px;
    display: block;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.669);
    cursor: pointer; 
}

@media all and (max-width: 750px){
    .visions-h1{
        font-size: 30px;
        font-weight: bold;
        font-family: serif;
        padding-left: 30%;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.64);
        cursor: pointer;
    }

    .mission-cards{
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin-left: 5px;
        flex-direction: row;
     }
}