.mission-container{
    background-color: whitesmoke;
}

.mission-cards{
   display: flex;
   flex-wrap: wrap;
   margin: 1rem;
   flex-direction: row;
}

.mission-card:hover{
    box-shadow: 0 10px 20px;
}


.mission-card{
    width: 310px;
    height: 300px;
    margin: 1rem;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid white;
    background-color: white;
}


.h1-images{
   background-color: whitesmoke;
}

.h1-images:hover{
    box-shadow: 0 10px 20px;
}

.h1-images h1{
    font-size: 15px;
    padding-left: 0px;
    font-weight: bold;
    font-family: serif;
    color: rgba(0, 0, 0, 0.64);
    animation-name: moveInRight;
    animation-duration: 5s;
}

.courage-img{
    width: 100px;
}

.mission-p{
    font-size: 11px;
    padding-top: 10px;
    display: block;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.669);
    cursor: pointer; 
}

@media all and (max-width: 750px){
    .mission-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
     }

     .mission-card{
        width: 450px;
        height: 300px;
        margin: 1rem;
        padding: 20px;
        border-radius: 5px;
        border: 3px solid white;
        background-color: white;
    }
}